<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLmi8_ZmVq0myTExOPc3StYd6i0QoLoNo</string>
	<key>GCM_SENDER_ID</key>
	<string>86947622453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fmfp</string>
	<key>PROJECT_ID</key>
	<string>fmfp-fbb61</string>
	<key>STORAGE_BUCKET</key>
	<string>fmfp-fbb61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86947622453:ios:be86c55b62667617988b7c</string>
</dict>
</plist>